<!DOCTYPE html>
<html>
    <head>
        <title>Meu Currículo</title>
    </head>

    <body>
        <h1>Meu Currículo</h1>
        <p>Nome: Luiz Ricardo Alves Siqueira</p>
        <p>E-mail: luiz.siqueira1234@gmail.com</p>
        <p>Linkedin: https://www.linkedin.com/in/luiz-siqueira-b59b0588/</p>
        <p>Telefone: (15)99740-1259</p>
        <h2>Objetivo</h2>
        <p>Desenvolvedor Python em busca de oportunidades para aplicar conhecimento Web e API's</p>
        <p><b>Resumo:</b> Desenvolvedor Python em formação, com conhecimentos básicos em Python, FastAPI, Django, PostgreSQL, 
            GitHub e HTML. Eu possuo experiência profissional em suporte técnico e manutenção de equipamentos de informática, 
            como analista de help desk IV, operador de produção IV e field, além de trabalhar como autônomo em reparo 
            de celulares. Estou cursando o primeiro semestre de Sistemas de Informações EAD na Estácio e sou ativo no GitHub 
            e LinkedIn. Busco oportunidades para expandir meus conhecimentos em Python e se tornar um desenvolvedor 
            Python qualificado. 
        </p>
        <h2>Experiência</h2>
        <ul>
            <li><b>Autônomo</b><br>
                Manutenção: Reparo de Celulares de cliente e venda de produtos da loja.
            </li>
        </ul>
        <ul>
            <li><b>Sonda Brasil</b><br>
                Analista de Help Desk IV: Atendimento as lojas especializadas TIM, verificação dos problemas de sistemas e se necessário abertura e chamada para
                resolução de problemas.
            </li>
        </ul>
        <ul>
            <li><b>Xerox Indústrias & Comércio Ltda.</b><br>
                Operador de Produção IV: Suporte e manutenção das impressoras de pequeno, médio porte e fechamento mensal.
            </li>
        </ul>
        <h2>Formação Acadêmica</h2>
        <ul>
            <li><b>Estácio</b><br>
                Cursando Sistemas de Informações EAD - Início: 11/2022
            </li>
        </ul>
        <h2>Competência</h2>
        <ul>
            <li>Inglês: básico</li>
            <li>Python: básico</li>
            <li>FastAPI: básico</li>
            <li>HTML: básico</li>
            <li>PostgreSQL: básico</li>
            <li>GitHub: básico</li>
        </ul>
    </body>
</html>